@{
    ViewBag.Title = "About";
}
<div style="height: 100px;"></div> <!-- this so the banner doesn't cover the page content -->

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>NEO-natal is a new approach to combating high infant mortality in many inner-cities. Recognizing that the best way to curb the problem is by focusing limited resources on the mothers with the highest probable chance of having a child die, the team developed a unique risk profile for mothers based on publically available demographic and geographic data correlated against clinical/medical research. With this new statistical tool, the team developed a short questionnaire that could be used by a community health worker to assess the risk level of a mother almost instantly.</p>
