@model NEO_natal.Models.Survey

@{
    ViewBag.Title = "RiskScore";
}


<h2>Risk Score</h2>

<div class="form-horizontal">
    <h1 align="center">Mother's Risk Score:</h1>
    <hr />
  
    <h1 align="center">@Html.DisplayFor(model => model.riskScore)</h1>       
</div>
    
