@model NEO_natal.Models.Survey

@{
    ViewBag.Title = "RiskScore";
}


<h2>Risk Score</h2>

<div class="form-horizontal">
    <h1 align="center">Mother's Risk Score:</h1>
    <hr />
  
    <h1 align="center">@Html.DisplayFor(model => model.riskScore)</h1>       
</div>

<div class="form-horizontal">
    <h6 align="center">Score Associated with Risk Level </h6>
    <h6 align="center">Low Risk < 50 </h6>
    <h6 align="center">Moderate Risk 50-70</h6>
    <h6 align="center">High > 70</h6>

    <hr />

    
</div>
    
